html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #111111;
  color: #fff;
  font-family: 'Montserrat', Arial, sans-serif;
}
main {
  flex: 1;
}
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #1a1a1a;
    top: 0;
}

header h1 {
    color: #fff;
    margin-left: 10px;
}

.section-principal {
    margin-top: 20px;
    margin-bottom: 20px;
}

.section-principal .presentacion {
    display: flex;
    align-items: center;
}

.section-principal .presentacion h2 {
    flex: 1;
    text-align: center;
    margin: 0;
    color: #e50914;
}

.section-principal .presentacion img {
    display: block;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 3px solid #e50914;
    margin-left: 20px;
}

.datos-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 20px;
}

.datos-container .datos {
    background-color: #222;
    margin: 10px;
    padding-left: 15px;
    border-radius: 8px;
}

.datos-container .datos h3 {
    color: #e50914;
}

.datos-container .datos p {
    color: #fdf8f8;
    font-weight: bold;
}

.pages-container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
    text-align: center;
    margin-bottom: 20px;
}

.pages-container .pages {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #222;
    border-radius: 8px;
    width: 250px;
}

.pages-container .pages a {
    text-decoration: none;
    color: #e50914;
    padding: 8px 16px;
}
.pages-container .pages img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

footer {
    background-color: #1a1a1a;
}

footer p {
    margin: 0;
    padding: 10px;
    text-align: center;
    color: #fff;
}

/* ------------------------------------------------------- */
/* MODO CLARO
/* ------------------------------------------------------- */
body:not(.dark-mode) {
  background-color: white;
  color: black;
}

body:not(.dark-mode) header,
body:not(.dark-mode) footer {
  background-color: #031926;
}

body:not(.dark-mode) .section-principal .presentacion h2,
body:not(.dark-mode) .datos-container .datos h3 {
    color: #468189;
}

body:not(.dark-mode) .presentacion img {
  border-color: #031926;
}

body:not(.dark-mode) .datos {
  background-color: #9dbebb;
}

body:not(.dark-mode) .pages {
  background-color: #9dbebb;
}

body:not(.dark-mode) .pages a {
  color: #ffff;
}


@media (max-width: 1024px) {
    .pages-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }
}

@media (max-width: 768px) {
    header h1 {
    color: #fff;
    margin-left: 10px;
    font-size: 20px;
    }

    .section-principal .presentacion {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    }

    .datos-container {
        grid-template-columns: 1fr;
    }

    .section-pages {
        display: flex;
        align-items: center;
    }
    
    .pages-container {
        grid-template-columns: 1fr;
    }
}